
@media (min-width: 769px) and (max-width: 1400px) { 
    body {
        background-color: red;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px) { 
    body {
        background-color: yellow;
    }
  }
  
  @media (max-width: 575.98px) { 
      body {
          background-color: green;
      }
      .card{
        width: 100%;
      }
  }