.container {
  width: 1024px;
  margin: 0 auto;
}

.card a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  font-weight: 700;
}

.card__image img {
  width: 100%;
}

.card__image {
  position: relative;
}

.icon-box {
  display: flex;
  color: white;

  position: absolute;
  left: 10px;
  bottom: 15px;
}

.text-icon {
  background: #00d054;
  height: 50px;
  font-size: 20px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.icon-box i {
  background: #00d054;
  height: 50px;
  margin-right: 5px;
  min-width: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.card {
  width: 50%;
}
